// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 1.5rem;
    }

    .vote, .answer {
        width: 50px;
        height: 50px;
    }

    .status {
        padding: 3px;

        &.answered {
            margin: 5px;
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.unanswered {
            margin: 5px;
            border: 1px solid $color-red;
            color: $color-red;
        }

        &.answered-accepted {
            background-color: $color-green;
            color: $color-green;
        }
    }

}

.media-body {
    a {
        text-decoration: none;
    }
}

form.form-delete {
    display: inline;
}

.float-right {
    float: right;
}

.vote-controls {
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: gray;

    span, a {
        display: block;
        text-decoration: none;
    }

    span {
        &.votes-count {
            font-size: 25px;
        }

        &.favorites-count {
            font-size: 12px;
        }
    }

    a {
        cursor: pointer;
        color: $gray-600;

        &.off, &.off:hover {
            color: $gray-500;
        }

        &.favorite {
            &.favorited, &.favorited:hover {
                color: $warning;
            }
        }

        &.vote-accepted {
            color: green;
        }
    }
}
