// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 1.5rem;
    }

    .vote, .answer {
        width: 50px;
        height: 50px;
    }

    .status {
        &.answered {
            margin: 5px;
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.unanswered {
            margin: 5px;
            border: 1px solid $color-red;
            color: $color-red;
        }

        &.answered-accepted {
            background-color: $color-green;
            color: $color-green;
        }
    }

}

.media-body {
    a {
        text-decoration: none;
    }
}


